body{
    margin: center;
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(assets/universo.png);
    overflow: hidden;
    padding:  auto;
    justify-content: space-between;
    justify-self: start;
    align-items: flex-start;
    }
    .sol{
        height: 119px;
        width: 119px;
        background-image: url(assets/Sol.png);
        border-radius: 50%;
        background-size:cover;
        flex-direction: row;
        justify-content: space-between;
         box-shadow: 4px 2px 150px #fff000 ;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
          }
          .mercurio{
            height: 10%;
            width: 10%;
            background-image: url(assets/mercurio\ .png);
            border-radius: 50%;
            flex-direction: row;
            justify-content: space-between;
            position: absolute;
            box-shadow: 4px 2px 56px #ec4527;
            left: 43%;
            top: 43%;
            transform: translate(-50%,-50%);
            animation: orbit2 12s linear infinite;
        }
        @keyframes orbit2{
            from{transform:rotate(0deg)translateX(70px)rotate(0deg);}
            to{transform:rotate(360deg)translateX(70px)rotate(-360deg);} 
           }
           .mercurio-linha{
            height: 205px;
            width: 205px;
            justify-content: space-between;
            align-items: flex-start;
        }
        p{
            color:white;
            font-family:system-ui;
            position: absolute;
            left: -62px;
            top: -11px;
            }
            .mercurio-linha,.venus-linha,.terra-linha,.terra-lua,.marte-linha,.jupiter-linha,.saturno-linha,.anel,.urano-linha,.netuno-linha
            
            {
                border-radius: 50%;
                border:1px dotted #ddd9;
                position: absolute;
                left: 50%;
                top: 50%;
                flex-direction: row;
                transform: translate(-50%,-50%);
            }
            .mercurio-linha{
                height: 189px;
                width: 189px;
            }
            .venus{
                height: 20px;
                width: 20px;
                background-image: url(assets/venus.png);
                background-size: 100%;
                flex-direction: row;
                justify-content: space-between;
                background-size: cover;
                border-radius: 50%;
                position: absolute;
                box-shadow: -4px 2px 56px #7284b4;
                left: 45%;
                top: 45%;
                transform: translate(-50%,-50%);
                animation: orbit3 14s linear infinite;
            
            }@keyframes orbit3{
                from{transform: rotate(0deg)translateX(100px)rotate(0deg);}
                to{transform: rotate(360deg)translateX(100px)rotate(-360deg);}
            
            }
            .venus-linha{ 
                height: 375px;
                width: 375px;
                }
                .terra{
                    height: 35px;
                    width: 35px;
                    background-image: url(assets/Terra.png);
                   background-size: 70%;
                   border-radius: 50%;
                   flex-direction: row;
                   justify-content: space-between;
                   background-size: cover;
                   position: absolute;
                   box-shadow: -4px 2px 56px #183da1;
                   left: 40%;
                   top: 40%;
                   transform: translateY(-50%,-50%);
                  animation: orbit4 40s linear infinite;
  }
  @keyframes orbit4 {
    from{transform: rotate(0deg)translateX(150px)rotate(0deg);}
    to{transform: rotate(360deg)translateX(150px)rotate(-360deg);}
    }
    .terra-linha{
        height: 280px;
        width: 280px;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        
        }
    .terra-linha-da-lua{
        height: 49px;
        width: 49px;
        border: 1px dotted #fff;
        
        justify-content: space-between;
        position: relative;
        left: -8px;
        top: -8px;
        border-radius: 40px;
           
        }.terra-lua{
            height: 10px;  /* lua */
            width: 10px;
            background-image: url(assets/Lua.png);
            border-radius: 50%;
            position: absolute;
            justify-content: space-between;
            animation: orbit 2s linear infinite;
            box-shadow: -4px 2px 56px #4370ec;
            transform: translate(-50%,-50%); 
            left:40%;
           top: 40%;
           animation: orbit5 25s linear infinite;
           }@keyframes orbit5{
            from{transform: rotate(-0deg)translateX(33px)rotate(0deg);}
            to{transform: rotate(360deg)translateX(33px)rotate(-360deg);}
            }
            .marte{
                height: 30px;
                width: 30px;
                background-image: url(assets/Marte.png);
                background-size: 100%;
                border-radius: 50%;
                justify-content: space-between;
                position: absolute;
                box-shadow:-4px 2px 56px #ec4527 ;
                left: 46.5%;
                top: 46.5%;
                transform: translate(-50%,-50%);
                animation: orbit6 55s linear infinite;
                }
                .marte-linha{
                    height: 420px;
                    width: 420px;
                }