body{
    margin: center;
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(assets/universo.png);
    overflow: hidden;
    padding:  auto;
    justify-content: space-between;
    justify-self: start;
    align-items: flex-start;
    }
    .sol{
        height: 119px;
        width: 119px;
        background-image: url(assets/Sol.png);
        border-radius: 50%;
        background-size:cover;
        flex-direction: row;
        justify-content: space-between;
         box-shadow: 4px 2px 150px #fff000 ;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
          }
          .mercurio{
            height: 10%;
            width: 10%;
            background-image: url(assets/mercúrio\ .png);
            border-radius: 50%;
            flex-direction: row;
            justify-content: space-between;
            position: absolute;
            box-shadow: 4px 2px 56px #ec4527;
            left: 43%;
            top: 43%;
            transform: translate(-50%,-50%);
            animation: orbit2 12s linear infinite;
        }
        @keyframes orbit2{
            from{transform:rotate(0deg)translateX(70px)rotate(0deg);}
            to{transform:rotate(360deg)translateX(70px)rotate(-360deg);} 
           }
           .mercurio-linha{
            height: 205px;
            width: 205px;
            justify-content: space-between;
            align-items: flex-start;
        }
        p{
            color:white;
            font-family:system-ui;
            position: absolute;
            left: -62px;
            top: -11px;
            }
            .mercurio-linha,.venus-linha,.terra-linha,.terra-lua,.marte-linha,.jupiter-linha,.saturno-linha,.anel,.urano-linha,.netuno-linha
            
            {
                border-radius: 50%;
                border:1px dotted #ddd9;
                position: absolute;
                left: 50%;
                top: 50%;
                flex-direction: row;
                transform: translate(-50%,-50%);

            }